{% extends 'main/bases/base.jinja2' %}

{% block title %}
    Student list
{% endblock %}

{% block content %}
    <div>
        <ul>
            <li>
                <a href="/create-student/">Создать студента</a>
            </li>
            <li>
                <a href="/add-student/">Добавить студента на курс</a>
            </li>
        </ul>
    </div>
    <h1>Список студентов</h1>
    <div>
        <ul>
            {% for item in objects_list %}
                <li>
                    {{ item.name }}
                    {% for course in item.courses %}
                        {{ course.name }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
